.cache
.last-package-update-day
*~
elpa
network-security.data
projectile-bookmarks.eld
recentf
projectile*
straight
var
smex-items
/.perspective
/transient/
/eshell/
/history
/places
/projects
/.lsp-session-v1
.aider*
